################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab/Lab_08/[Lab 8]_TextGameMode_4/.vs/[Lab 8]_TextGameMode_4/v16/Browse.VC.opendb
*.opendb
